.additional {
    margin-left: 5vw;
}

.additional p {
    font-size: 1.5vw;
    text-align: justify;
}

@media (max-width: 768px) {
     .mainContainer .additional {
        margin-right: 5vw;
        text-align: justify;
    }

    .mainContainer .additional p {
        font-size: 4.8vw;
    }
}