.footerdiv {
    text-align: center;
    background-color: black;
    color: white;
    height: 6vw;
    font-size: 1.5vw;
    padding-top: 1.1vw;
    padding-bottom: 3.0vw;
    margin-top: 1.5vw;
}

@media (max-width: 768px) {
     .footerdiv {
        height: 30vw;
        font-size: 5.8vw;
    }
}