.personalInfo {
    width: 25%;
    margin-left: 2.0vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    border: 0.01vw solid rgb(170, 170, 170);
    padding: 3vw;
    border-radius: 3vw;
}
.personalInfo .h2personal {
    text-align: left;
}
.personalInfo .imageKET {
    width: 28vw;
    height: 30vw;
    margin-left: -1.5vw;
    border-radius: 20%;
    justify-content: center;
}

.personalInfo .tellink2 {
    margin-left: 4.5vw;
    text-decoration: none;
}

.personalInfo .tellink1 {
    text-decoration: none;
}

.personalInfo .Email {
    text-decoration: none;
}

@media (max-width: 768px) {

 .personalInfo {
        margin: 0 auto;
        font-size: 4.8vw;
        width: 90%;
        text-align: center;

    }

    .personalInfo .h2personal {
        text-align: center;
    }

    .personalInfo .imageKET {
        width: 100%;
        height: 70vw;
        margin: 0 auto;
    }
}